.character-list {
    margin: auto;
    max-width: 80%;
    padding-top: 15px;

    .card {
        margin: 15px 0;
    }
}

.location-list {
    margin: auto;
    max-width: 80%;
    padding-top: 15px;

    .card {
        margin: 15px 0;
        width: 40%;
    }
}